.form-wrap
	width: 285px
	padding: 20px 0 30px 0
	margin: 50px auto 0 auto
	background: #44474C linear-gradient(#44474C, #000)
	border-radius: 10px
	position: relative
	z-index: 10
	form
		.form-title
			font-size: 22px
			color: white
			text-align: center
			line-height: 1.1em
			margin-bottom: 15px
		.jq-selectbox, .form-group
			margin: 0 auto 12px auto
			width: 230px
			height: 38px
		.select-wrap
			margin: 0 auto 12px auto
			width: 230px
			height: 38px
			select
				width: 230px
				height: 38px
			.jq-selectbox__select
				height: 38px !important
				background: white
				border-radius: 0
				.jq-selectbox__select-text
					height: 38px !important
					line-height: 38px
				.jq-selectbox__trigger
					border-left: none
					.jq-selectbox__trigger-arrow
						top: 16px
			.jq-selectbox__dropdown
				max-height: auto
				top: 40px
		.form-group
			input
				height: 38px
				width: 230px
				padding-left: 9px
		.button-submit
			height: 40px
			button
				display: block
				border: none
				outline: none
				width: 230px
				height: 40px
				border-radius: 5px
				margin: 0 auto
				background: #9ACDFF linear-gradient(#C5E7FF, #9ACDFF)
				font-size: 20px
				&:hover
					box-shadow: 0 0 10px 3px #9ACDFF
					background: #9ACDFF linear-gradient(#CFF1FF, #AADDFA)

.modal
	text-align: center
	position: absolute
	top: 0
	left: 16px
	bottom: 0
	right: 0
	height: 30%
	margin: auto
	.modal-dialog
		width: 285px
		margin: 0 auto
	.modal-content
		background-color: mintcream
	.modal-title
		margin-bottom: 15px
		margin-top: 10px
	.btnOk
		margin-bottom: 10px
		width: 150px
		background-color: #2782fd
		color: white
		opacity: 0.8
		&:hover
			opacity: 0.5
			transition: 0.4s