.form-wrap
	form#form(method="POST")
		.form-title Узнайте стоимость <br> аренды полуприцепа
		.select-wrap
			select(name="type" id="type" data-placeholder="Тип полуприцепа")
				option(value="")
				option(value="Шторный") Шторный
				option(value="Рефрижераторный") Рефрижераторный
				option(value="Бортовой-тентовый") Бортовой-тентовый
				option(value="Промтоварный") Промтоварный
				option(value="Контейнеровоз") Контейнеровоз
				option(value="Мега") Мега
		.select-wrap
			select(name="time" id="time" data-placeholder="Срок аренды")
				option(value="")
				option(value="До 2-х месяцев") До 2-х месяцев
				option(value="2-6 месяцев") 2-6 месяцев
				option(value="7-12 месяцев") 7-12 месяцев
				option(value="Свыше 12 месяцев") Свыше 12 месяцев
		.select-wrap
			select(name="count" id="count" data-placeholder="Количество п/п")
				option(value="")
				option(value="1") 1
				option(value="2") 2
				option(value="3") 3
				option(value="4") 4
				option(value="5") 5
				option(value="Больше 5") Больше 5
		.form-group
			input.form-control.phone(name="phone" id="phone" type="text" value required placeholder="Ваш телефон")
		.form-group
			input.form-control(name="name" type="text" value required placeholder="Как к Вам обращаться?")
		.button-submit
			button(type="submit") Узнать сумму

br
.modal.fade#send-success
	.modal-dialog
		.modal-content
			h4.modal-title Форма успешно отправлена. Мы скоро с Вами свяжемся.
			button.btn.btn-default.btnOk(data-dismiss="modal") Ok
