.header
	height: 85px
	position: fixed
	background-color: white
	z-index: 100
	width: 100%
	.container
		.header-wrap
			.logo
				width: 350px
				float: left
				height: 65px
				line-height: 85px
@media (max-width: $screen-sm-min)
	.header
		height: 120px
		position: static
	.logo
		float: none !important
		margin: 0 auto !important
		max-width: 100%
		img
			max-width: 100%
	.tel
		float: none !important
		margin: 0 auto !important
		width: 215px
		text-align: center
		line-height: 55px !important
	.main-title
		padding-top: 0 !important