script(src="/app/vendor/jquery-1.11.3.js")
script(src="/app/vendor/bootstrap/bootstrap.js")
script(src="/app/vendor/formstyler/jquery.formstyler.js")
script(src="/app/vendor/inputmask/inputmask.js")
script(src="/app/vendor/inputmask/jquery.inputmask.js")
script(src="/app/vendor/inputmask/inputmask.phone.extensions.js")
script(src="/app/vendor/common.js")