meta(charset="utf-8")
meta(name="viewport" content="width=768")
meta(name="description" content="")
meta(name="keywords" content="")
link(href="/app/vendor/bootstrap/bootstrap.css" rel="stylesheet")
link(href="/app/vendor/formstyler/jquery.formstyler.css" rel="stylesheet")
link(href="/font/fonts.css" rel="stylesheet")
link(href="/app/style.css" rel="stylesheet")
