doctype html
html
	head
		block title
		include /_head.jade
	body
		main
			.header
				.container
					.header-wrap
						include /blocks/header/header.jade
						block telephone
			block text-info
			include /blocks/content/content.jade
		include /blocks/footer/footer.jade
		include /_foot.jade
		include /_ga.jade
