extends _layout

block title
	title Eропейскиe б/у полуприцепы в рассрочку в Калининграде
block telephone
	include /blocks/tels/tel-kaliningrad.jade
block text-info
	include /blocks/main-title/main-title-installment-plan-kaliningrad.jade