extends _layout

block title
	title Eропейскиe б/у полуприцепы в рассрочку в Москве
block telephone
	include /blocks/tels/tel-moscow.jade
block text-info
	include /blocks/main-title/main-title-installment-plan-moscow.jade