extends _layout

block title
	title Eропейскиe б/у полуприцепы в рассрочку в Екатеринбурге
block telephone
	include /blocks/tels/tel-ekaterinburg.jade
block text-info
	include /blocks/main-title/main-title-installment-plan-ekaterinburg.jade