extends _layout

block title
	title Eропейскиe б/у полуприцепы в рассрочку в Новосибирске
block telephone
	include /blocks/tels/tel-novosibirsk.jade
block text-info
	include /blocks/main-title/main-title-installment-plan-novosibirsk.jade