doctype html
html
	head
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		title Линки страниц
		link(rel='stylesheet', type='text/css', href='app/vendor/bootstrap/bootstrap.css')
		style(type='text/css').
			b {padding-right: 20px}
			b.padd {padding-right: 11px}
			hr {margin-top: 10px; margin-bottom: 10px}
	body
		.container
			h2(style='text-align: center') arenda-polupricepov.ru: Pages
			ul(style='margin: 0 auto 50px; width: 600px')
				li: a(href='index.html') <b> main-page
					| Аренда европейских б/у полуприцепов
				hr
				li: a(href='installment-plan-ekaterinburg.html') <b> installment-plan-Ekaterinburg
					| Рассрочка в Екатеринбурге
				hr
				li: a(href='installment-plan-kaliningrad.html') <b> installment-plan-Kaliningrad
					| Рассрочка в Калининграде
				hr
				li: a(href='installment-plan-moscow.html') <b> installment-plan-Moscow
					| Рассрочка в Москве
				hr
				li: a(href='installment-plan-novosibirsk.html') <b> installment-plan-Novosibirsk
					| Рассрочка в Новосибирске
				hr
				li: a(href='rent-ekaterinburg.html') <b> rent-Ekaterinburg
					| Аренда в Екатеринбурге
				hr
				li: a(href='rent-kaliningrad.html') <b> rent-Kaliningrad
					| Аренда в Калининграде
				hr
				li: a(href='rent-moscow.html') <b> rent-Moscow
					| Аренда в Москве
				hr
				li: a(href='rent-novosibirsk.html') <b> rent-Novosibirsk
					| Аренда в Новосибирске