extends _layout

block title
	title Аренда европейских б/у полуприцепов в Екатеринбурге
block telephone
	include /blocks/tels/tel-ekaterinburg.jade
block text-info
	include /blocks/main-title/main-title-rent-ekaterinburg.jade