extends _layout

block title
	title Аренда европейских б/у полуприцепов в Москве
block telephone
	include /blocks/tels/tel-moscow.jade
block text-info
	include /blocks/main-title/main-title-rent-moscow.jade