extends _layout

block title
	title Аренда европейских б/у полуприцепов в Новосибирске
block telephone
	include /blocks/tels/tel-novosibirsk.jade
block text-info
	include /blocks/main-title/main-title-rent-novosibirsk.jade