extends _layout

block title
	title Аренда европейских б/у полуприцепов в Калининграде
block telephone
	include /blocks/tels/tel-kaliningrad.jade
block text-info
	include /blocks/main-title/main-title-rent-kaliningrad.jade