.main-title
	padding-top: 85px
	.container
		.main-title-wrap
			h1
				font-size: 42px
				text-align: center
				font-family: "Helvetica"
				line-height: 43px
				font-weight: bold
			p
				font-size: 28px
				text-align: center
				font-family: "Helvetica"
				font-weight: bold
@media (max-width: $screen-md-min)
	.main-title-wrap
		h1
			font-size: 35px !important
		p
			font-size: 21px !important