@font-face {
	font-family: "HelveticaRegular";
	src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
	src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
	url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "HelveticaThin";
	src: url("../fonts/HelveticaRegular/HelveticaThin.eot");
	src: url("../fonts/HelveticaRegular/HelveticaThin.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HelveticaRegular/HelveticaThin.woff") format("woff"),
	url("../fonts/HelveticaRegular/HelveticaThin.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}