.footer
	background-color: #E4E4E4
	height: 90px
	position: relative
	z-index: 1000
	.container
		.footer-wrap
			p
				text-align: center
				margin-top: 20px
				font-family: "Helvetica"
				font-weight: bold
			a
				display: block
				margin: 0 auto
				text-align: center
				width: 120px