@import '_vars'
body
	font-family: 'Helvetica'
main
	display: block
	flex-direction: column
	display: flex

// type
a
	color: #2782fd
.tooltip-inner
	white-space: pre
.has-error
	background-color: #f2dede;
@import '_sticky-footer'
@import '../blocks/*'