.content
	min-height: 640px
	position: relative
	padding-top: 100px
	position: relative
	flex: 1 0 auto
	.car-img-left, .car-img-right
		position: absolute
		width: 35%
		height: 98%
	.car-img-left
		background: no-repeat url(../img/car-left.jpg)
		left: 0
		background-size: 100%
	.car-img-right
		background: no-repeat url(../img/car-right.jpg)
		right: 0
		background-size: 100%
	@media (max-width: $screen-lg-min)
		.car-img-left, .car-img-right
			height: 300px !important
	@media (max-width: $screen-md-min)
		.car-img-left, .car-img-right
			width: 30% !important
@media (max-width: $screen-sm-min)
	.car-img-left, .car-img-right
		display: none
	.content
		padding-top: 0 !important
		min-height: 480px !important